.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex: 1;
    justify-content: "center";
    align-items: center;
    padding: 20px;
}
@media (max-width: 600px) {
    .main {
        padding: 0;
    }
}