* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: rgb(93, 86, 100);

}
.css-10d30g3-MuiPaper-root-MuiDialog-paper{
  /* border: solid red 3px; */
  width: 40%;
}